[submodule "external/verl"]
	path = external/verl
	url = https://github.com/rexxy-sasori/verl.git
[submodule "external/sglang"]
	path = external/sglang
	url = https://github.com/rexxy-sasori/sglang.git
